Backend/__pycache__/caesarHacker_test.cpython-310-pytest-7.1.1.pyc
Backend/__pycache__/caesarHacker.cpython-310.pyc
Backend/__pycache__/detectEnglish.cpython-310.pyc
Backend/__pycache__/transpositionHacker_test.cpython-310-pytest-7.1.1.pyc
Backend/__pycache__/transpositionHacker.cpython-310.pyc
Backend/allWordPatterns.py
Backend/__pycache__/allWordPatterns.cpython-310.pyc
Backend/__pycache__/wordPatternsGeneral.cpython-310.pyc
Backend/__pycache__/substitutionHacker.cpython-310.pyc
Backend/__pycache__/server.cpython-310.pyc
Backend/__pycache__/server_test.cpython-310-pytest-7.1.1.pyc
Backend/__pycache__/application_test.cpython-310-pytest-7.1.1.pyc
